
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$application-color: rgb(21,109,147);
$design-color: rgb(90, 71, 118);
$manage-color: rgb(231, 22, 95);

$background: rgb(168, 215, 255);