body{
	//background-color: #dc3545;
   background-image: url("/img/icoontjes.png");// url("http://images.all-free-download.com/images/graphiclarge/mass_media_icons_311444.jpg");
  background-attachment: fixed;
  background-size: 200px auto;
  background-color: $background;

}

.navbar-brand{
  img{
    width: 50px;
  }
}

.banner{
  height: 300px;
  background: url('https://pbs.twimg.com/profile_images/2435763356/image_400x400.jpg') 100vw 300px;

}

.media_tile_bar_custom{
  width: 100%;
  height: 12px;
}

.media_tile_bar_custom_application{
  background-color: $application-color;
}
.media_tile_bar_custom_design{
  background-color: $design-color;
}
.media_tile_bar_custom_manage{
  background-color: $manage-color;
}

.home_icon{
  width: 40%;
  max-width: 50%;
  color: red;
}
.icon_wrapper{
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tile_image-container{
  padding-bottom: 30px !important;
}