.content{

  height: auto;
  background-color:#fff;
}

.header{
  text-align: center;
}

.style_ul{

  list-style-type: none;
}

.media_img{
  max-width:600px;
  max-height: 400px;

}

.home_img{
    width: 100%;
    max-width: 100%;
}

.button{
    width: 200px;
height: 55px;
}

.media_tile{
    background-color: #fff;
    box-shadow: 0 2px 3px 0 rgba(50,50,50,.2);
    font-size: 22px;
    line-height: 1.25;
    font-weight: bold;
    padding: 28px 20px;
    color: #333;
    position: relative;
    z-index: 10;
    transition: padding .2s;
}

.media_tile_content{
    display: block;
    font-size: 16px;
    color: #777;
    margin-top: 5px;
}

.media_label{
    position: relative;
    width: 100%;
    left: 0;
    bottom: 0;
}

.tile_image-container{
    padding-bottom: 100px;
}

.tile_container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.media_tile_bar{
    width: 100%;
    height: 12px;
    background-color: #ed135d;
}

.footer{
    margin-top: 20px;
    height: 33px;
    background-color:#fff;

}
